@font-face {
    font-family: Yekan;
    src: url('../assets/fonts/iran-yekan/iranyekan.woff2');
}

body {
    margin: 0 auto;
    font-family: Yekan !important;
    overflow-x: hidden !important;
}

*و * * {
    font-family: Yekan !important;
}