@font-face {
  font-family: Yekan;
  src: url('../assets/fonts/iran-yekan/iranyekan.woff2');
}

body {
  margin: 0 auto;
  font-family: Yekan !important;
  overflow-x: hidden !important;
}

*,
* * {
  font-family: Yekan !important;
}

.notfound-title {
  margin-top: 150px;
  text-align: right;
}

.notfound-subtitle {
  text-align: right;
}

.swiper-container {
  height: 360px !important;
}

.gallery-slider-divider {
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 80%;
  margin: 60px auto 45px auto;
}

.gallery-slider-divider::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 150px;
  width: 80%;
  height: 1px;
  background-color: #ccc;
}

.asd {
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px;
  /* gutter size offset */
  width: 95%;
  max-width: 1200px !important;
  margin: 0 auto !important;
}

/* postcss *.css --use autoprefixer --no-map --replace */

.my-masonry-grid_column {
  padding-left: 0;
  padding-right: 20px;
  /* gutter size */
  /* margin-left: 10px;
    margin-right: 10px; */
  /* background-clip: padding-box; */
}

/* Style your items */

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  /* background: grey; */
  margin-bottom: 30px;
  /* margin-left: 10px;
    margin-right: 10px; */
}

/*TODO: prefix rtansition */

.swiper-button-next {
  background-color: rgb(36, 73, 141) !important;
  border-radius: 100%;
  margin-right: -50px;
  cursor: pointer;
  z-index: 2;
  width: 90px !important;
  height: 90px !important;
  -webkit-box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  -moz-box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  transition: 0.2s all ease-in;
}

.swiper-button-next:hover {
  width: 97px !important;
  height: 97px !important;
  transition: 0.2s all ease-in;
}

.swiper-button-prev {
  background-color: rgb(36, 73, 141) !important;
  border-radius: 100%;
  margin-left: -50px;
  cursor: pointer;
  z-index: 2;
  width: 90px !important;
  height: 90px !important;
  -webkit-box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  -moz-box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  box-shadow: 0px 0px 90px 26px rgba(65, 62, 194, 1);
  transition: 0.2s all ease-in;
}

.swiper-button-prev:hover {
  width: 97px !important;
  height: 97px !important;
  transition: 0.2s all ease-in;
}

.swiper-button-next:after {
  font-size: 32px !important;
  color: rgb(221, 149, 66);
  margin-right: 32px;
}

.swiper-button-prev:after {
  font-size: 32px !important;
  color: rgb(221, 149, 66);
  margin-left: 32px;
}

.swiper-pagination {
  display: none;
}

@media screen and (max-width: 420px) {
  .swiper-button-next {
    background-color: rgb(36, 73, 141) !important;
    border-radius: 100%;
    margin-right: -20px;
    cursor: pointer;
    z-index: 2;
    width: 50px !important;
    height: 50px !important;
    -webkit-box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    -moz-box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    transition: 0.2s all ease-in;
  }
  .swiper-button-next:hover {
    width: 57px !important;
    height: 57px !important;
    transition: 0.2s all ease-in;
  }
  .swiper-button-prev {
    background-color: rgb(36, 73, 141) !important;
    border-radius: 100%;
    margin-left: -20px;
    cursor: pointer;
    z-index: 2;
    width: 50px !important;
    height: 50px !important;
    -webkit-box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    -moz-box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    box-shadow: 0px 0px 90px 14px rgba(65, 62, 194, 1);
    transition: 0.2s all ease-in;
  }
  .swiper-button-prev:hover {
    width: 57px !important;
    height: 57px !important;
    transition: 0.2s all ease-in;
  }
  .swiper-button-next:after {
    font-size: 22px !important;
    color: rgb(221, 149, 66);
  }
  .swiper-button-prev:after {
    font-size: 22px !important;
    color: rgb(221, 149, 66);
  }
}
