.single-post-banner {
    width: 100%;
    height: 580px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
}

.single-post-banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-post-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 16, 51, 0.7);
    z-index: 2;
}

.single-post-title {
    width: 100%;
    position: absolute;
    top: 45%;
    right: 0;
    height: auto;
    text-align: center;
    color: #fff;
    z-index: 3;
}

.single-post-top-date {
    position: absolute;
    bottom: 18%;
    right: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    z-index: 3;
    direction: rtl;
}

.single-post-top-date::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -80px;
    width: 50%;
    height: 1px;
    background-color: #ccc;
}

.single-post-top-date::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -80px;
    width: 50%;
    height: 1px;
    background-color: #ccc;
}

.single-post-layout {
    width: 100%;
    height: auto;
    position: relative;
}

.single-post-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -4rem !important;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    z-index: 20;
    background-color: #fff;
    position: relative;
    /* -webkit-box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2); */
    margin-bottom: 45px;
    /* overflow: hidden; */
}

.single-post-shadow {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 570px;
    left: 2.5%;
    -webkit-box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 43px 8px rgba(0, 0, 0, 0.2);
}

.single-post-left {
    width: 260px;
    height: auto;
    background-color: #fff;
    position: sticky;
    top: 0;
    /* left: 4%; */
}

.single-post-main-center {
    padding: 15px;
    width: calc(100% - 580px);
    height: auto;
    border: 1px solid black;
    overflow-x: hidden;
}

.single-post-left h4 {
    width: 100%;
    color: #0b1033;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.single-post-left-buttons {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.single-post-left-btn-right {
    width: 60px;
    border: none;
    outline: none;
    border-left: 1px solid #0b1033;
    background-color: #fff;
    color: #0b1033 !important;
    font-weight: bold;
    z-index: 5;
}

.single-post-left-btn-left {
    width: 60px;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgba(11, 16, 51, 0.7);
    font-weight: bold;
    z-index: 5;
}

.single-post-left-topic {
    width: 100%;
    height: auto;
    border: 1px solid rgba(11, 16, 51, 0.4);
    margin-bottom: 15px;
}

.single-post-left-topic-top {
    position: relative;
    width: 90%;
    height: 150px;
    margin: 40px auto 0 auto;
}

.single-post-left-topic-top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 16, 51, 0.4);
    z-index: 2;
}

.single-post-left-topic-top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.single-post-left-topic-top-title {
    position: absolute;
    top: 30px;
    left: 0;
    width: 95%;
    margin: 0 auto;
    height: auto;
    text-align: center;
    color: #ffd617;
    z-index: 3;
}

.single-post-left-topic-top-subtitle {
    position: absolute;
    top: 60px;
    left: 0;
    width: 95%;
    margin: 0 auto;
    height: auto;
    font-size: 14px;
    color: #fff;
    line-height: 19px;
    text-align: center;
    z-index: 3;
}

.single-post-left-topic-bottom {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 25px 0 0;
    margin: 20px auto 0 auto;
}

.single-post-left-topic-bottom-item {
    width: 92%;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    margin: 5px auto;
}

.single-post-left-topic-bottom-item-img {
    width: 45%;
    height: 70px;
    margin-left: 12px;
}

.single-post-left-topic-bottom-item-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-left: 20px; */
    overflow: hidden;
}

.single-post-left-topic-bottom-item-desc-title {
    color: #ffd617;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
    margin: -4px 0 -9px 0;
}

.single-post-left-topic-bottom-item-desc-subtitle {
    color: #0b1033;
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    line-height: 14px;
}

.single-post-right {
    width: 220px;
    height: 100vh;
    background-color: #ccc;
    position: sticky;
    top: 0;
    left: 85%;
    z-index: 10;
}