.footer {
    width: 100%;
    height: auto;
    background-color: #0d2035;
}

.footerContainer {
    width: 100%;
    height: auto;
    max-width: 1400px;
    margin: 0 auto;
}

.footerTopMobile {
    display: none !important;
}

.footerMobileTop {
    display: none;
}

.footerTopMobileItemsBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footerTopMobileMenuItem {
    margin: 0 22px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footerTopMobileMenuItem:hover {
    color: #00aeef;
    text-decoration: none;
}

.footerTopMobileImage {
    margin-bottom: 25px;
}

.footerTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding-top: 20px;
    position: relative !important;
}

.footerTopMenuItem {
    margin: 0 22px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footerTopMenuItem:hover {
    color: #00aeef;
    text-decoration: none;
}

.footerTopImage {
    margin: 0 25px;
}

.footerMiddleBox {
    /* width: 100%; */
    width: 80%;
    height: auto;
    margin-top: -30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footerMiddleRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.footerMiddleRightIcon {
    color: #fff;
    width: 45px;
    margin-left: 15px;
}

.footerMiddRightTexts {
    font-size: 14px;
    width: 60%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.footerMiddleLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerMiddleLeftSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footerMiddleLeftIcon {
    color: #fff;
    width: 45px;
    margin-right: 15px;
}

.footerMiddLeftText {
    color: #fff;
    text-align: left;
    font-size: 14px;
}

.footerTopDivider {
    width: 90%;
    height: 1px;
    background-color: rgb(145, 145, 145);
    margin: 45px auto 10px auto;
}

.footerSocialBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border-bottom: 1px solid rgb(145, 145, 145); */
}

.footerSocialItem {
    margin: 5px 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footerSocialItemSpan {
    color: #fff;
    font-size: 16px;
}

.footerSocialItemIcon {
    width: 45px;
    color: #fff;
    margin-left: 12px;
}

.footerBottomDivider {
    width: 100%;
    height: 1px;
    background-color: rgb(145, 145, 145);
    margin: 10px auto 10px auto;
}

.footerBottom {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footerBottomText {
    color: #fff;
    text-align: right;
    direction: rtl;
}

@media screen and (max-width: 992px) {
    .footerMobileTop {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .footerTop {
        display: none;
    }
}