.masonryPostKeeper {
    margin: 10px;
    /* width: calc(32% - 40px); */
    width: 35%;
    height: auto;
    /* overflow: hidden; */
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
}

.masonryPostImagebox {
    position: relative;
    width: 100% !important;
    height: auto;
    cursor: pointer;
}

.masonryPostImagebox:hover .masonryPostImageOverlay {
    background-color: rgba(55, 126, 192, 0.288);
    transition: 0.2s all ease-in;
}


/* .masonryPostImagebox:hover .masonryPostImage {
    width: 105%;
    height: 105%;
    transition: 0.2s all ease-in;
} */

.masonryPostImageboxInstant {
    width: 65px;
    position: absolute;
    top: 20px;
    right: -10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #111;
    z-index: 15;
    cursor: pointer;
}

.masonryPostImageboxInstantIcon {
    font-size: 13px;
    margin-left: 10px;
    color: rgb(217, 228, 67);
}

.masonryPostImageboxInstant span {
    color: rgb(217, 228, 67);
    font-size: 13px;
}

.masonryPostImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 98%; */
    width: 100%;
    height: 100%;
    min-height: 250px;
    max-height: 700px;
    background-color: none;
    z-index: 1;
    transition: 0.2s all ease-in;
}

.masonryPostImage {
    width: 100%;
    height: 100%;
    min-height: 250px;
    max-height: 700px;
    cursor: pointer;
}

.masonryPostLikeBox {
    position: absolute;
    bottom: -25px;
    left: 25px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5px;
    z-index: 20;
    cursor: pointer;
    border: 1px solid rgba(202, 201, 201, 0.884);
}

.masonryPostLikeIcon {
    color: #666666;
    font-size: 21px !important;
    margin-bottom: 5px !important;
    margin-top: 15px !important;
    z-index: 10;
}

.masonryPostLikebox span {
    color: #444;
    font-size: 17px;
    z-index: 10;
}

.masonryPostDarkTitle {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 35px auto 0 auto;
}

.masonryPostDarkTitle h4 {
    color: rgb(226, 223, 43);
    font-size: 11px;
    text-align: right;
    background-color: #222;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 45px;
    margin: 0;
    letter-spacing: 2px;
    z-index: 5;
}

.masonryPostTitle {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold !important;
    margin: 8px auto 15px auto;
}

.masonryPostTitle h4 {
    color: #222;
    font-size: 16px;
    text-align: right;
    font-weight: bold !important;
    cursor: pointer;
    margin: 0;
    transition: color 0.4s ease;
}

.masonryPostTitle h4:hover {
    color: #ec6a2a;
    transition: color 0.4s ease;
}

.masonryPostSubtitle {
    width: 95%;
    height: auto;
    color: #777777;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: -18px auto 15px auto;
}

.masonryPostSubtitle h4 {
    color: #888888;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
}

.masonryPostInfo {
    width: 95%;
    height: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    color: rgb(245, 120, 120);
}

.masonryPostInfo span {
    direction: rtl;
    color: #777777;
    font-size: 14px;
    margin: 0 12px;
}

.masonryPostSocials {
    width: 95%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.masonryPostSocialIcon {
    color: #666666;
    font-size: 15px;
    margin: 0 10px;
    transition: color 0.4s ease;
    cursor: pointer;
}

.masonryPostSocialIcon:hover {
    color: #ec6a2a;
    transition: color 0.4s ease;
}