.hamburgerMenu {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -320px;
  background-color: #1b1b1bf5;
  z-index: 150;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden !important;
  padding-bottom: 10px;
  overflow: hidden;
}

.hamburgerMenuToggle {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #1b1b1bf5;
  z-index: 150;
  transition: all 0.3s cubic-bezier(0.27, 0.1, 0.13, 2.25);
  overflow-x: hidden !important;
  padding-bottom: 10px;
  overflow: hidden;
}

.hamburgerMenuCloseIcon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #ffd617;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.hamburgerMenuImageBox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.hamburgerMenuItem {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 6px 0;
  cursor: pointer;
  opacity: 0;
}

.hamburgerMenuItemAnimate {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 6px 0;
  cursor: pointer;
}

.hamburgerMenuItemAnimate span,
.hamburgerMenuItem span {
  font-size: 18px;
  color: #fff;
}

.hamburgerMenuItemIcon {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.hamburgerMenuItemArrowed {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.hamburgerMenuArrowIcon {
  color: #fff;
  font-size: 16px;
}

.hamburgerMenuArrowIconToggle {
  color: #fff;
  font-size: 16px;
  transform: rotate(-90deg);
}

.hamburgerMenuDropItem {
  cursor: pointer;
}

.hamburgerMenuDropdown {
  width: 100%;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding-right: 60px; */
  background-color: #2c2c2ce3;
  transition: height 0.2s ease-in-out;
  margin-top: -6px;
}

.hamburgerMenuDropdownToggle {
  width: 100%;
  height: 140px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* padding-right: 60px; */
  background-color: #353535a8;
  transition: height 0.2s ease-in-out;
  margin: 6px 0;
}

.hamburgerMenuDropdown span {
  color: #fff;
  font-size: 16px;
  margin: 3px 40px 3px 0;
  cursor: pointer;
  opacity: 0;
}

.hamburgerMenuDropdownToggle span {
  color: #fff;
  font-size: 16px;
  margin: 3px 40px 3px 0;
  cursor: pointer;
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.2s;
}

.hamburgerMenuItemAnimate:nth-child(2) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.2s;
}

.hamburgerMenuItemAnimate:nth-child(3) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.3s;
}

.hamburgerMenuItemAnimate:nth-child(4) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.4s;
}

.hamburgerMenuItemAnimate:nth-child(5) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.5s;
}

.hamburgerMenuItemAnimate:nth-child(6) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.6s;
}

.hamburgerMenuItemAnimate:nth-child(7) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.7s;
}

.hamburgerMenuItemAnimate:nth-child(8) {
  opacity: 1;
  transition: 0.2s all ease-in;
  transition-delay: 0.8s;
  margin-bottom: 12px;
}
