/* .nav-menu-item:active {
    background-color: red;
} */

.menu-container {
    text-align: center;
}

.nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.nav {
    display: inline-block;
    margin: 0;
    /* background: #0d2035; */
    color: #fff;
    text-align: left;
}

.navMenuItemLink {
    text-align: right;
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
}

.navSubmenuItemLink {
    text-align: right;
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
}


/* .navSubmenuItemLink:active {
    background-color: red;
} */

.nav-menu {
    line-height: 45px;
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-menu-item {
    display: inline-block;
    position: relative;
}

.nav-menu-item:hover {
    /* background-color: #00aeef; */
    color: #00aeef;
}

.nav-menu-item:hover .nav-submenu {
    display: block;
}

.nav-submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    right: 0;
    width: 160px;
    background-color: #0d4c63;
    color: #fff;
}

.nav-submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.footer {
    width: 100%;
    height: 340px;
    background-color: #0d2035;
}

.footerTop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    padding-top: 20px;
    position: relative !important;
}

.footerTopMenuItem {
    margin: 0 22px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footerTopMenuItem:hover {
    color: #00aeef;
    text-decoration: none;
}

.footerTopImage {
    margin: 0 25px;
}

.footerMiddleBox {
    /* width: 100%; */
    width: 80%;
    height: auto;
    margin-top: -30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* justify-content: space-around; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.footerMiddleRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
}

.footerMiddleRightIcon {
    color: #fff;
    width: 45px;
    margin-left: 15px;
}

.footerMiddRightTexts {
    font-size: 14px;
    width: 60%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
}

.footerMiddleLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footerMiddleLeftSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footerMiddleLeftIcon {
    color: #fff;
    width: 45px;
    margin-right: 15px;
}

.footerMiddLeftText {
    color: #fff;
    text-align: left;
    font-size: 14px;
}

.footerTopDivider {
    width: 90%;
    height: 1px;
    background-color: rgb(145, 145, 145);
    margin: 45px auto 10px auto;
}

.footerSocialBox {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerSocialItem {
    margin: 0 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footerSocialItemSpan {
    color: #fff;
    font-size: 16px;
}

.footerSocialItemIcon {
    width: 45px;
    color: #fff;
    margin-left: 12px;
}

.footerBottomDivider {
    width: 100%;
    height: 1px;
    background-color: rgb(145, 145, 145);
    margin: 10px auto 10px auto;
}

.footerBottom {
    width: 95%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footerBottomText {
    color: #fff;
    text-align: right;
    direction: rtl;
}