.header {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 15px;
  z-index: 100;
}

.headerToggle {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 15px;
  z-index: 100;
}

.headerTop {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerBottomToggle {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerBottomEmptyDiv {
  width: 50px;
}

.navbar-icons {
  /* width: 1px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-icon-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50px;
}

.nav-submenu {
  display: none;
}

.nav-menu-item:hover .nav-submenu {
  display: block;
}

/* .nav-menu-item:active {
    background-color: red;
} */

.menu-container {
  text-align: center;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav {
  display: inline-block;
  margin: 0;
  background: #0d2035;
  color: #fff;
  text-align: left;
}

.navMenuItemLink {
  text-align: right;
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}

.navSubmenuItemLink {
  text-align: right;
  display: block;
  padding: 0 16px;
  line-height: inherit;
  cursor: pointer;
}

.navSubmenuItemLink:active {
  background-color: red;
}

.nav-menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-menu-item {
  display: inline-block;
  position: relative;
}

.nav-menu-item:hover {
  background-color: #00aeef;
}

.nav-menu-item:hover .nav-submenu {
  display: block;
}

.nav-submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  right: 0;
  width: 180px;
  background-color: #00aeef;
}

.nav-submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
