.gallery {
    width: 85%;
    margin: 0 auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 15px;
    -ms-grid-template-columns: repeat(7, 1fr);
    -ms-grid-template-rows: repeat(6, 5vw);
    -ms-grid-gap: 15px;
}

.gridItem {
    background-color: aqua;
}

.gridItem1 {
    grid-column: 1 /4;
    -ms-grid-column: 1 / 4;
    grid-row: 1 / 4;
    -ms-grid-row: 1 / 4;
}

.gridItem2 {
    grid-column: 1 /4;
    -ms-grid-column: 1 / 4;
    grid-row: 4 / 7;
    -ms-grid-row: 4 / 7;
}

.gridItem3 {
    grid-column: 4 / 8;
    -ms-grid-column: 4 / 8;
    grid-row: 1 / 7;
    -ms-grid-row: 1 / 7;
}

@media screen and (max-width: 992px) {
    .gallery {
        width: 90%;
        margin: 0 auto;
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(9, 5vw);
        grid-gap: 15px;
        -ms-grid-template-columns: repeat(7, 1fr);
        -ms-grid-template-rows: repeat(9, 5vw);
        -ms-grid-gap: 15px;
    }
    .gridItem1 {
        grid-column: 1 /7;
        -ms-grid-column: 1 / 7;
        grid-row: 1 / 3;
        -ms-grid-row: 1 / 3;
    }
    .gridItem2 {
        grid-column: 1 /7;
        -ms-grid-column: 1 / 7;
        grid-row: 3 / 6;
        -ms-grid-row: 3 / 6;
    }
    .gridItem3 {
        grid-column: 1 / 7;
        -ms-grid-column: 1 / 7;
        grid-row: 6 / 10;
        -ms-grid-row: 6 / 10;
    }
}